@font-face {
    font-family: 'Funnel';
    src: url('fonts/funnel.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Quantico';
    src: url('fonts/Quantico-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Shrikhand';
    src: url('fonts/Shrikhand-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Danfo';
    src: url('fonts/Danfo-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Crayon';
    src: url('fonts/ColoredCrayons-7wPR.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Blackcrayon';
    src: url('fonts/BlackCrayon-KyWA.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Sheila';
    src: url('fonts/SheilaCrayon-1vWg.ttf') format('truetype');
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    font-family: 'Shrikhand', Helvetica, sans-serif;
    background-color: #EAF2DB;
    background-image: url(../imgs/background@2x.png);
    background-size: cover;
    background-position: center;
    cursor: url('../imgs/cursors/paint_brush.cur') 10 2, auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px;
}

.logo {
    height: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 1%;
    background: rgba(234, 242, 219, 0.59);
    border-radius: 30px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border: 1px solid rgba(234, 242, 219, 0.34);
    width: 100%;
}

nav ul li {
    display: inline;
    color: rgb(34, 34, 34);
    font-size: 25px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-weight: bold;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #232323; 
    left: 50%;
    bottom: -5px;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    color: #EAF2DB;
    background-color: #25322E;
    border-radius: 20px;
    padding: 7px;
    transition: all 0.3s ease-in-out;
    font-family: 'Funnel', Arial, Helvetica, sans-serif;
    cursor: url('../imgs/cursors/link_select.cur') 10 2, auto;
}

h1{
    position: fixed;
    font-size: 25px;
    font-family: 'Quantico', sans-serif;
    text-align: center;
    height: fit-content;
    margin: 9% auto;
    background-color: #25322E;
    color: #EAF2DB;
    border-radius: 35px;
    padding: 12px 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

footer {
    width: 100%;
    padding: 20px 0;
    background-color: #25322E;
    color: #EAF2DB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.5px;
    transition: all 0.3s ease-in-out;
}

.footer-content p {
    margin: 5px 0;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.footer-content p:hover {
    opacity: 1;
}


#artist-name {
    text-align: center;
    margin-bottom: 4px;
    color: #EAF2DB;
  }
  
#artwork-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    font-family: 'Funnel', sans-serif;
  }
  
.artwork-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #EAF2DB;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    height: 300px;
    width: 80%; 
    cursor: url('../imgs/cursors/link_select.cur') 10 2, auto;
  }

.artwork-card:hover{
    transform: scale(1.02);
    cursor: url('../imgs/cursors/link_select.cur') 10 2, auto;
}
  
.artwork-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .artwork-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 15px;
    color: #25322E;
  }
  
  .artwork-price {
    font-size: 18px;
    color: #304b43;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    display: none;
    flex-direction: column;
}

.dropdown-menu li {
    padding-top: 7px;
    display: block;
    width: 100%;
}